header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 86px;
  overflow: hidden;
  transition: all .5s;
  z-index: 10;
}

@media (min-width: 921px) {
  header {
    &:hover {
      height: 416px;
      background-color: #fff;

      nav {
        border-bottom: 3px solid #000;

        .header-menu-link {
          color: #000;
        }
      }

      .line {
        background-color: #000;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 86px;
      z-index: 0;
      width: 100%;
      height: 330px;
      background: #fff;
    }
  }
}

@media (max-width: 920px) {
  header {
    &.active {
      background-color: #000;
    }
  }
}

nav {
  height: 86px;
}

@media (max-width: 759px) {
  nav {
    height: 54px;
  }
}

.header {
  &-nav {
    position: relative;
    width: 100%;
    height: 84px;
    max-width: 900px;
    margin: 0 auto;
  }

  &-logo {
    position: absolute;
    top: 20px;
    left: 3%;
    width: 120px;
    height: 40px;
    background-image: url('../../img/logo.png');
    background-repeat: no-repeat;
    z-index: 1;
  }

  &-menu {
    max-width: 900px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;

    &-item {
      display: inline-block;
      vertical-align: top;
      margin-left: 8%;

      &:first-child {
        margin-left: 0;
      }
    }

    &-link {
      display: inline-block;
      font-size: 18px;
      line-height: 86px;
      color: #fff;
    }

    &-btn {
      position: absolute;
      top: 20px;
      right: 10px;
    }
  }

  //2depth menu
  &-submenu {
    position: relative;
    margin: 23px 0;
    text-align: left;
    z-index: 1;

    li {
      margin-top: 18px;
      font-size: 16px;

      &:first-child {
        margin-top: 0;
      }

      a:hover {
        color: $link-hover-color;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &-menu {
      &-item {
        margin-left: 2%;
      }

      &-link {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 920px) {
  header {
    height: auto;
  }

  .header {
    &-menu {
      display: none;
    }
  }
}

@media (max-width: 759px) {
  .header {
    &-nav {
      height: 54px;
    }

    &-logo {
      top: 12px;
      width: 82px;
      background: url('../../img/logo.png') no-repeat left top / 100%;
    }

    &-menu {
      &-item {
        display: block;
        width: 100%;
      }
    }

    //2depth
    &-submenu {
      display: none;
    }
  }
}

.header-menu-btn {
  position: absolute;
  display: block;
  width: 84px;
  height: 84px;
  top: 0;
  right: 10px;
  z-index: 11;

  .line {
    display: block;
    position: absolute;
    width: 36px;
    height: 4px;
    background-color: #fff;

    &-1 {
      top: 30px;
      left: 10px;

    }

    &-2 {
      top: 42px;
      left: 10px;

    }

    &-3 {
      top: 54px;
      left: 10px;

    }
  }
}

@media (max-width: 759px) {
  .header-menu-btn {
    width: 54px;
    height: 54px;

    .line {
      width: 20px;
      height: 2px;

      &-1 {
        top: 18px;
        right: 15px;
        left: auto;
        -webkit-animation: menu-bar01 .75s forwards;
        animation: menu-bar01 .75s forwards;

      }

      &-2 {
        top: 24px;
        right: 15px;
        left: auto;
        opacity: 1;
      }

      &-3 {
        top: 30px;
        right: 15px;
        left: auto;
        -webkit-animation: menu-bar02 .75s forwards;
        animation: menu-bar02 .75s forwards;

      }
    }
  }
}

@-webkit-keyframes menu-bar01 {
  0% {
    transform: translateY(0px) rotate(45deg);
  }

  50% {
    transform: translate(0px) roate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes menu-bar01 {
  0% {
    transform: translateY(0px) rotate(45deg);
  }

  50% {
    transform: translate(0px) roate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@-webkit-keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-9px) rotate(-45deg);
  }

  50% {
    -webkit-transform: translateY(-9px) rotate(0);
  }

  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}

@keyframes menu-bar02 {
  0% {
    transform: translateY(-9px) rotate(-45deg);
  }

  50% {
    transform: translateY(-9px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@media (max-width: 920px) {
  .header-menu-btn {
    &.active {
      .line {
        &-1 {
          -webkit-animation: active-menu-bar01 0.75s forwards;
          animation: active-menu-bar01 0.75s forwards;
        }

        &-2 {
          opacity: 0;
        }

        &-3 {
          -webkit-animation: active-menu-bar03 .75s forwards;
          animation: active-menu-bar03 .75s forwards;
        }
      }
    }
  }
}

@-webkit-keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(300%) rotate(0);
  }

  100% {
    -webkit-transform: translateY(300%) rotate(45deg);
  }
}

@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(300%) rotate(0);
  }

  100% {
    transform: translateY(300%) rotate(45deg);
  }
}

@-webkit-keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
  }

  50% {
    -webkit-transform: translateY(-300%) rotate(0);
  }

  100% {
    -webkit-transform: translateY(-300%) rotate(-45deg);
  }
}

@keyframes active-menu-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-310%) rotate(0);
  }

  100% {
    transform: translateY(-310%) rotate(-45deg);
  }
}